<div id="backup-header">
    <h2>Backup dan Pulihkan Data</h2>
</div>

<div id="backup-help">
    <h3>Apa itu Backup dan Pemulihan Data?</h3>
    <p>
        Backup adalah proses menyimpan cadangan data warung saat ini menjadi sebuah format file yang bisa dikenali oleh aplikasi
        Open Warung. File tersebut kemudian bisa dibaca oleh aplikasi untuk mengembalikan data yang tercatat dalam file backup
        dan memuatnya langsung ke dalam aplikasi. Semua info warung, pemasukan, pengeluaran, barang, dan saldo yang tersimpan
        dapat dipulihkan. Ini dapat berguna untuk memindahkan data dari satu komputer ke komputer lainnya.
    </p>
    <h3>Bagaimana Cara Melakukan Backup dan Pemulihan Data?</h3>
    <p>
        Untuk melakukan backup, klik tombol backup di bawah. Sebuah menu penyimpanan file akan muncul, tempatkan file tersebut
        di folder yang mudah dijangkau, ubah namanya sesuai keinginan, dan simpan file tersebut. Untuk memulihkan file, klik
        tombol pulihkan di bawah, navigasikan pemilih file ke tempat file backup tersimpan. Review kembali data file yang akan
        dipulihkan tersebut, dan klik tombol konfirmasi untuk memulihkan file backup tersebut. Aplikasi akan di-restart otomatis
        untuk memuat data.
    </p>
    <p>
        Dalam pemulihan data, harap masukan file backup yang benar-benar dibuat dengan Open Warung. File yang tidak valid dapat
        menyebabkan error atau hal-hal yang tidak diinginkan lainnya. Untuk saat ini, tidak ada fitur autosave. Open Warung hanya
        akan menyimpan data saat waktu backup dilakukan. Memulihkan file backup yang dibuat beberapa hari yang lalu akan
        mengembalikan data warung sesuai seperti data saat backup file tersebut dilakukan. Ingat bahwa ketika pemulihan file 
        backup dilakukan, data sebelumnya tidak ter-backup otomatis. Lakukan backup sebelum pemulihan untuk menghindari
        hilangnya data ketika terdapat kesalahan pada data yang dipulihkan.
    </p>
</div>

<div id="backup-control">
    <button id="btn-backup" onclick="backupData()">Lakukan Backup Data</button>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <button id="btn-restore" onclick="restoreData()">Lakukan Pemulihan Data</button>
</div>