<div id="header">
    <div id="profile">
        <div class="card-header">Profil</div>
        <div id="profile-body">
            <div id="profile-name">Loading...</div>
            <div id="profile-location">Loading...</div>
            <div id="profile-edit" onclick="editProfile()">
                <img src="../../assets/icons/btn-edit.svg" height="30px" width="30px">
            </div>
        </div>
    </div>

    <div id="balance">
        <div class="card-header">Saldo Anda</div>
        <div id="balance-body">
            <div id="balance-value">Loading...</div>
            <div id="balance-edit" onclick="setBalance()">
                <img src="../../assets/icons/btn-edit.svg" height="30px" width="30px">
            </div>
        </div>
    </div>
</div>

<div id="count">
    <div id="barang">
        <div class="card-header">Jumlah Barang</div>
        <div id="barang-count">N/A</div>
    </div>

    <div id="income">
        <div class="card-header">Pemasukan Bulan Ini</div>
        <div id="income-body">
            <div class="count-body">
                <div class="count-title">Jumlah</div>
                <div id="income-count">N/A</div>
            </div>
            <div class="value-body">
                <div class="value-title">Nilai</div>
                <div id="income-value">Loading...</div>
            </div>
        </div>
    </div>

    <div id="spending">
        <div class="card-header">Pengeluaran Bulan Ini</div>
        <div id="spending-body">
            <div class="count-body">
                <div class="count-title">Jumlah</div>
                <div id="spending-count">N/A</div>
            </div>
            <div class="value-body">
                <div class="value-title">Nilai</div>
                <div id="spending-value">Loading...</div>
            </div>
        </div>
    </div>
</div>