<div id="header">
    <div id="profile">
        <div class="card-header">Profil</div>
        <div id="profile-body">
            <div id="profile-name">Loading...</div>
            <div id="profile-location">Loading...</div>
            <div id="profile-edit" onclick="">
                <img src="../../assets/icons/btn-edit.svg" height="30px" width="30px">
            </div>
        </div>
    </div>

    <div id="balance">
        <div class="card-header">Saldo Anda</div>
        <div id="balance-body">
            <div id="balance-value">Loading...</div>
            <div id="balance-edit" onclick="setBalance()">
                <img src="../../assets/icons/btn-edit.svg" height="30px" width="30px">
            </div>
        </div>
    </div>
</div>